.progress-container {
    height: 20px;
    width: 200px;
    background-color: #e0e0de;
    border-radius: 10px;
    margin: 50;
  }

  .progress-label{
    padding: 5;
    color: white;
    font-weight: bold;
  }